@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body {
            background-color: black;
        }

        div.cafevanialabel {
            position: fixed;
            top: 130px;
            right: 610px;
        }

        div.richter1 {
            position: fixed;
            top: 160px;
            left: 300px;
            width: auto;
            height: auto;
        }

        div.richter2 {
            position: fixed;
            top: 160px;
            right: 300px;
            width: auto;
            height: auto;
        }

        div.dracula {
            position: fixed;
            top: 65px;
            right: 900px;
        }

        div.alucard {
            position: fixed;
            top: 230px;
            right: 470px;
        }

        div.pillar1 {
            position: fixed;
            top: 244px;
            right: 325px;
            width: auto;
            height: auto;
        }

        div.pillar2 {
            position: fixed;
            top: 244px;
            left: 325px;
            width: auto;
            height: auto;
        }

        div.floor {
            position: fixed;
            bottom: 110px;
            left: 0px;
        }

        div.start {
            position: fixed;
            top: 472px;
            right: 700px;
        }
    </style>
</head>

<div class="richter1">
    <img src="~/images/SOTN_Vampire_Killer_Alt.gif" class="gif" />
</div>

<div class="richter2">
    <img src="~/images/SOTN_Vampire_Killer.gif" class="gif" />
</div>

<div class="dracula">
    <img src="~/images/DraculaCV.gif" class="gif" />
</div>

<div class="pillar1">
    <img src="~/images/pillar.png" />
</div>

<div class="pillar2">
    <img src="~/images/pillar - alt.png" />
</div>

<div class="cafevanialabel">
    <img src="~/images/cafevaniablack.png" height="75" width="300" />
</div>

<div class="alucard">
    <img src="~/images/Olrox.gif" class="gif" height="250" width="600" />
</div>

<div class="floor">
    <img src="~/images/Floor.jpg" width="1535" />
</div>

<div class="start">
    <a href="./Product"><img src="~/images/Start.png" height="40" width="150" /></a>
</div>





