@model Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Add Item:</h1>

<form action="/Admin/Update" method="post">
    <label for="Name">Product Name:</label><br />
    <input type="text" id="Name" name="Name" /><br /><br />

    <label for="Price">Price:</label><br />
    <input type="number" id="Price" name="Price" /><br /><br />

    <label for="Category">Category:</label><br />
    <select name="Category">
        <option value="Produce">Produce</option>
        <option value="Food">Food</option>
        <option value="Spirits">Spirits</option>
        <option value="Coffee">Coffee</option>
        <option value="Weaponry">Weaponry</option>
    </select> <br /><br />

    <label for="Description">Description:</label><br />
    <input type="text" id="Description" name="Description" /><br /><br />

    <input id="submit" class="btn btn-dark" type="submit" value="FINALIZE ITEM" />
</form>